*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color-scheme: light dark;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: local("Hanken Grotesk"),
    url(./assets/HankenGrotesk-VariableFont_wght.ttf) format("truetype");
}
